<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">NeoRemiseria</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <!--
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="personas">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Personas
            </NavLink>
        </div>
        -->

        <div class="nav-item px-3 flex-shrink-0 p-3">
            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                    <button href="personas"class="btn btn-toggle nav-link collapsed d-inline-flex align-items-center" data-bs-toggle="collapse" data-bs-target="#personas-collapse" aria-expanded="true">
                        <i class="bi bi-plus-square-fill-nav-menu"></i>
                        Personas
                    </button>
                    <div class="collapse show" id="personas-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 px-2">
                            <li><NavLink href="persona-form" class="nav-link">
                                <span class="bi bi-person-plus-fill"></span>Agregar
                            </NavLink></li>
                            <li><NavLink href="personas/dueños" class="nav-link">    
                                <span class="bi bi-person-vcard"></span>Dueños
                            </NavLink></li>
                            <li><NavLink class="nav-link">
                                <span class="bi"></span>Chofer
                            </NavLink></li>
                            <li><NavLink class="nav-link">
                                <span class="bi"></span>Listado
                            </NavLink></li>
                            <li><NavLink class="nav-link" href="localidades">
                                <span class="bi"></span>Localidades
                            </NavLink></li>
                            <li><NavLink class="nav-link" href="provincias">
                                <span class="bi"></span>Provincias
                            </NavLink></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="moviles">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Móviles
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="modelo">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Modelos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="marcas">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Marcas
            </NavLink>
        </div>
    </nav>
</div>

