@page "/personas"

@using NeoRemiseria
@using Models
@using Services

@inject IJSRuntime JSRuntime

@rendermode InteractiveServer

<svg style="display: none;">
    <symbol id="person-vcard" viewBox="0 0 16 16">
        <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5"/>
        <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z"/>
    </symbol>
   
    <symbol id="people-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
    </symbol>
   
    <symbol id="person-fill-add" viewBox="0 0 16 16">
        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
        <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
    </symbol>
</svg>

<div class="container px-4 py-5">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg style="vertical-align: -.125em; fill: currentColor;" width="1em" height="1em"><use href="#person-vcard" /></svg>
                @* <i class="bi bi-person-vcard ></i>" *@
            </div>
            <h3 class="text-body-emphasis fs-2">Due침os</h3>
            <p>Muestra los datos de las personas titulares de los m칩viles.</p>
            <a href="/personas/due침os" class="icon-link">Ir a due침os</a>
        </div>

        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg style="vertical-align: -.125em; fill: currentColor;" width="1em" height="1em"><use xlink:href="#people-circle" /></svg>
            </div>
            <h3 class="text-body-emphasis fs-2">Choferes</h3>
            <p>Muestra los datos personales de los choferes.</p>
            <a href="#" class="icon-link">Ir a choferes</a>
        </div>

        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg style="vertical-align: -.125em; fill: currentColor;" width="1em" height="1em"><use xlink:href="#person-fill-add" /></svg>
            </div>
            <h3 class="text-body-emphasis fs-2">Agregar</h3>
            <p>Permite agregar datos para una nueva persona</p>
            <a href="/persona-form" class="icon-link">Agregar datos</a>
        </div>
    </div>
</div>