@page "/personas/dueños"

@using NeoRemiseria
@using Models
@using Services

@inject ITable<Persona> PersonaService
@inject IJSRuntime JSRuntime

<div class="container">
    <div class="row row-cols-lg-2 row-cols-1"></div>
    <div class="row row-cols-lg-2 row-cols-1"></div>
</div>