@page "/moviles"

<div class="nav-item px-3 dropdown">
    <a href="#" class="nav-link dropdown-toggle" id="movilesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Moviles  
    </a>
    <ul class="nav-item dropdown-menu" aria-labelledby="movilesDropdwon">
        <li>
            <NavLink class="dropdown-item nav-link" href="moviles">
                Vehiculos
            </NavLink>
        </li>
        <li>
            <NavLink class="dropdown-item nav-link" href="#">
                Modelos
            </NavLink>
        </li>
        <li>
            <NavLink class="dropdown-item" href="#">
                Marcas
            </NavLink>
        </li>
        <li>
            <NavLink class="dropdown-item" href="#">
                Choferes
            </NavLink>
        </li>
        <li>
            <NavLink class="dropdown-item" href="#">
                Titulares
            </NavLink>
        </li>
    </ul>
</div>