@page "/moviles/index"

@using NeoRemiseria
@using Models
@using Services

@inject IJSRuntime JSRuntime
@inject ITable<Movil> MovilService

@rendermode InteractiveServer

<svg style="display: none;">
    <symbol id="person-vcard" viewBox="0 0 16 16">
        <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5"/>
        <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z"/>
    </symbol>
   
    <symbol id="people-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
    </symbol>
   
    <symbol id="person-fill-add" viewBox="0 0 16 16">
        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
        <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
    </symbol>
</svg>

<div class="nav-item px-3 dropdown">
            <a class="nav-link dropdown-toggle dropdown-toogle-split" role="button" data-bs-toggle="dropdown" id="personasDropdown" aria-expanded="false">
                <span class="bi bi-plus-square-fill-nav-menu"></span>
                Personas
            </a>
            <ul class="dropdown-menu" aria-labelledby="personasDropdown">
                <li><a href="persona-form"class="dropdown-item nav-link d-flex gap-2">
                    <svg width="16" height="16" style="vertical-align: -.125em; fill: currentColor;"><use href="#person-fill-add" /></svg>
                    Agregar
                </a></li>
                <li><NavLink href="personas/dueños"class="dropdown-item nav-link">
                    <svg width="16" height="16" style="vertical-align: -.125em; fill: currentColor;"><use xlink:href="#person-vcard" /></svg>
                    Dueños
                </NavLink></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <NavLink class="dropdown-item nav-link" href="localidades">Localidades</NavLink>
                </li>
                <li>
                    <NavLink class="dropdown-item nav-link" href="provincias">Provincias</NavLink>
                </li>
            </ul>
        </div>

@code{
    private Movil? movilActual;
    private List<Movil>? moviles;
    private uint idModeloSeleccionado = 0;

    private async Task CargarDatos(){
        moviles = await MovilService.GetAll();

        // Refrescar componentes
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync(){
        await CargarDatos();
    }
}

<h3>Moviles</h3>
@if (moviles != null){}
else{
    <p>Cargando datos...</p>
}