@page "/moviles"

@using NeoRemiseria
@using Models
@using Services

@inject IJSRuntime JSRuntime
@inject ITable<Movil> MovilService

@rendermode InteractiveServer

@code{
    private Movil? movilActual;
    private List<Movil>? moviles;
    private uint idModeloSeleccionado = 0;

    private async Task CargarDatos(){
        moviles = await MovilService.GetAll();

        // Refrescar componentes
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync(){
        await CargarDatos();
    }
}

<h3>Moviles</h3>
@if (moviles != null){}
else{
    <p>Cargando datos...</p>
}
