@page "/cobranza/pago/registro"

@using NeoRemiseria.Models

@using Services

@using Microsoft.AspNetCore.Components.Forms

@inject PagoService PagoService
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

@rendermode InteractiveServer

<h3>Registrar Pago</h3>

<EditForm Model="pago" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="IdCobro">ID de Cobro:</label>
        <InputNumber @bind-Value="pago.IdCobro" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="Importe">Importe:</label>
        <InputNumber @bind-Value="pago.Importe" class="form-control" step="0.01" required />
    </div>

    <div class="form-group">
        <label for="Fecha">Fecha de Pago:</label>
        <InputDate @bind-Value="pago.Fecha" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Registrar Pago</button>
</EditForm>

@code{
 private NeoRemiseria.Models.Pago pago = new NeoRemiseria.Models.Pago();

 private async Task HandleSubmit()
 {

    try
    {
        await   PagoService.RegistrarPago(pago);
        Console.WriteLine("Pago Registrado Correctamente");
        //Deberia devolverte a la lista de deudas
        Navigation.NavigateTo($"/cobranza/generar-deuda");
    }
    catch(Exception ex){
        Console.WriteLine($"Error al registrar el pago: {ex.Message}");
    }


 }

}