@page "/home"

<img src="images/remiseria-mar-azul-logo.svg" style="display: block; margin: 0 auto; width: 485.40px; height: 300px;">
<style>
    .img {
        .container px-4 py-5

    {
        margin-top: 15%;
    }

    }
</style>


<div class="container px-4 py-5" style="margin-top: -100px;">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg style="vertical-align: -.125em; fill: currentColor;" width="1em" height="1em"><use href="#person-vcard" /></svg>
                @* <i class="bi bi-person-vcard ></i>" *@
            </div>
            <h3 class="text-body-emphasis fs-2">Deudas</h3>
            <p>Muestra los datos de las personas que poseen una deuda.</p>
            <a href="/cobranzas/generar-deuda" class="icon-link">Ir a deudas</a>
        </div>

        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg style="vertical-align: -.125em; fill: currentColor;" width="1em" height="1em"><use xlink:href="#people-circle" /></svg>
            </div>
            <h3 class="text-body-emphasis fs-2">Moviles</h3>
            <p>Permite registrar la información de un nuevo movil.</p>
            <a href="/movil-form" class="icon-link">Ir a móvil</a>
        </div>

        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg style="vertical-align: -.125em; fill: currentColor;" width="1em" height="1em"><use xlink:href="#person-fill-add" /></svg>
            </div>
            <h3 class="text-body-emphasis fs-2">Registrar Pago</h3>
            <p>Redirigir al formulario de registro de pago</p>
            <a href="/cobranzas/registrar-pago" class="icon-link">Ir a Pago</a>
        </div>
    </div>
</div>