@page "/"

<PageTitle>Home</PageTitle>

<h1>Bienvenido!</h1>

<div class="container">
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Apellido" aria-label="Apellido">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Nombres" aria-label="Nombres">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="DNI" aria-label="DNI">
        </div>
        <button type="button" class="btn btn-primary w-100">Guardar</button>
    </div>